@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e7ecef;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

/* Small Screens  */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screens  */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large Screens  */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  background-color: #272932;
  color: #e7ecef;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
}

.cards-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
}
.cards-container .cards-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cards-container .cards-bg .card {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 800px;
  border-radius: 50px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  margin-right: 10px;
}
.cards-container .cards-bg .card.expand {
  width: 1050px;
  border: 2px solid #eec584;
}
.cards-container .cards-bg .card.expand .text {
  opacity: 1;
}
.cards-container .cards-bg .card .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
  font-weight: bold;
}
.cards-container .cards-bg .card .text span {
  font-size: 40px;
  margin-bottom: 15px;
}
.cards-container .cards-bg .card .text button {
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  color: #fff;
  background-color: #333;
}
/*# sourceMappingURL=style.css.map */